<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "styles.css" %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152401506-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-152401506-1');
    </script>

    <script src="{% static "jeanweb.js" %}"></script>

    <meta charset="UTF-8">
    <meta name="description" content="Jean Ruggiero's portfolio site." />
    <meta http-equiv="author" content="Jean Ruggiero">
    <meta http-equiv="pragma" content="no-cache">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{% block title %}Jean Ruggiero, Rocket Scientist{% endblock %}</title>
</head>
<body>
    <div id="page-container">
    <nav id="nav-menu">
        <div id="show-menu-div">
            <a id="show-menu" onclick="showMenu()">
                <img id="menu-icon" src="{% static "icons/menu_icon.svg" %}" alt="Menu icon">
            </a>
        </div>
        <ul id="nav-list">
            <li class="{% if request.path == '/' %}nav-current{% endif %}">
                <a href="/">ABOUT</a>
            </li>
            <li class="{% if request.path == '/resume' %}nav-current{% endif %}">
                <a href="/resume">RESUME</a>
            </li>
            <li class="{% if request.path == '/portfolio' %}nav-current{% endif %}">
                <a href="/portfolio">PORTFOLIO</a>
            </li>
            <li class="{% if request.path == '/contact' %}nav-current{% endif %}">
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>
    <div class="grid-container">

        <header>


            <div class="header-text">
                {% block site_name %}{% endblock %}
                {% block section_name %}{% endblock %}
                <div class="header-large">
                    <h1>{% block header_large %}{% endblock %}</h1>
                </div>
                <div class="header-small">
                    <p class="tagline">{% block header_small %}
                        {% endblock %}</p>
                </div>
{#                <div id="header-rule"></div>#}
            </div>
        </header>

        {% block content %}

        {% endblock %}
    </div>

    <footer>
        <div id="contact-info">
            <a id="linkedin" href="https://www.linkedin.com/in/jean-ruggiero/">
                <img src="{% static "icons/linkedin_icon.svg" %}" alt="LinkedIn logo">
            </a>
            <a id="github" href="https://github.com/jeanruggiero">
                <img src="{% static "icons/github_icon.svg" %}" alt="GitHub logo">
            </a>
            <a id="email" href="mailto:ruggiero.je@husky.neu.edu">
                <img src="{% static "icons/email_icon.svg" %}" alt="Email icon">
            </a>
        </div>

       <p>Site created & designed by Jean Ruggiero | Last Updated August 2020</p>
    </footer>
    </div>

</body>
</html>