{% extends "jean_site/base.html" %}

{% block header-large %}
jean ruggiero
{% endblock header-large %}

{% block header_small %}
rocket scientist, software developer, creative thinker
{% endblock header_small %}

{% block content %}
<div id="about">
    <p>Hi, I'm Jean! I’m an aerospace engineer turned product
        manager turned computer science grad student. My interests include
        data science, scientific computation, and product design. I’m seeking
        an internship for summer 2020. Get in touch!</p>
    <p>I started as an aerospace engineer at Purdue University
        and then Boeing in Seattle, WA. I was a flight test engineer for four
        years and a product manager for one. Today, I’m living in Boston, MA
        while pursuing a master's degree in computer science at Northeastern
        University. </p>
    <p>When I’m not coding, I can be found trail running,
        cycling, climbing, cooking, or frantically searching the web for the
        release date of J. Kenji Lopez-Alt’s next book.</p>
</div>
{%  endblock content %}
