{% extends "jean_site/base.html" %}

{% block header_large %}jean ruggiero{% endblock %}

{% block header_small %}computer & rocket scientist
{% endblock %}

{% load static %}
{% block content %}

<div id="head-shot" class="about c2-5">
    <img src="{% static "images/head_shot_circle.svg" %}" alt="Jean Ruggiero's professional head shot.">
</div>

<div class="about c5-11">
    <p>
        Hi, I'm Jean! I’m an aerospace engineer turned data scientist. I hold a masters degree in computer science from Northeastern University and a
        bachelors degree in aerospace engineering from Purdue University. My interests include deep learning, embedded sensing
        systems, and IoT devices.
    </p>
    <p>
        I’m currently working as a data scientist at Fortive's AI and analytics hub. I love taking on
        projects that span the full data science stack from discovery to deployment. I leverage my prior experience in product management and UX
        design to help scope and define projects.
    </p>

    <p>
        When I’m not coding, I can be found trail running, cycling, climbing, cooking, or frantically searching the web for the release date of
        J.&nbsp;Kenji Lopez-Alt’s next book.
    </p>
</div>
{%  endblock content %}
