{% extends "jean_site/base.html" %}

{% block header_large %}jean ruggiero{% endblock %}

{% block header_small %}rocket scientist, software developer, creative thinker
{% endblock %}

{% load static %}
{% block content %}
<div id="head-shot" class="about c2-5">
    <img src="{% static "images/head_shot_circle.svg" %}" alt="Jean
    Ruggiero's professional head shot.">
</div>
<div class="about c5-11">
    <p>Hi, I'm Jean! I’m an aerospace engineer turned product
        manager turned computer science grad student. My interests include
        data science, scientific computation, and product design. This summer, I'm working as a data science intern at Fortive's AI & data analytics
        hub. This fall, I will be seeking a co-op for spring of 2021. Please reach out with any opportunities for which I'd be a
        good fit!</p>
    <p>I started as an aerospace engineer at Purdue University
        and then Boeing in Seattle, WA. I was a flight test engineer for four
        years and a product manager for one. Today, I’m living in Seattle, WA
        while pursuing a master's degree in computer science at Northeastern
        University's Seattle campus. </p>
    <p>When I’m not coding, I can be found trail running,
        cycling, climbing, cooking, or frantically searching the web for the
        release date of J.&nbsp;Kenji Lopez-Alt’s next book.</p>
</div>
{%  endblock content %}
