{% extends "jean_site/base_sub_page.html" %}

{%  block title %}Jean Ruggiero - Portfolio{% endblock %}

{% block header_large %}portfolio{% endblock %}

{% block header_small %}selected software, engineering, and design projects{% endblock %}

{% block content %}
{% load static %}

{#<div id="project-categories" class="c2-4">#}
{#    <ul>#}
{#        <li><label><input type="checkbox" id="code-box">Code</label></li>#}
{#        <li><label><input type="checkbox" id="design-box">Design</label></li>#}
{#        <li><label><input type="checkbox" id="engineering-box">Engineering</label></li>#}
{#    </ul>#}
{#</div>#}

    <div class="portfolio-container">

        <div class="project code">
            <a id="personal-site-cover" class="project" href="portfolio/lighthouse">
                <img src="{% static "images/lighthouse_cover.svg" %}" alt="Lighthouse: a (very) lightweight C test framework">
            </a>

            <div>
                <h3>Lighthouse</h3>
                <p>A (very) lightweight C test framework</p>
            </div>
        </div>

        <div class="project design code">
            <a id="andrew-website-cover" class="project" href="portfolio/andrew_fabian_website">
                <img src="{% static "images/andrew_website_cover.svg" %}" alt="Andrew Fabian Personal Site: Built with React and material-ui.">
            </a>

            <div>
                <h3>Andrew Fabian Personal Site</h3>
                <p>Built with React and material-ui</p>
            </div>
        </div>

        <div class="project design code">
            <a id="personal-site-cover" class="project" href="portfolio/personal_site">
                <img src="{% static "images/personal_site_cover.svg" %}" alt="Personal Site Redesign: Powered by good UX">
            </a>

            <div>
                <h3>Personal Site Redesign</h3>
                <p>Powered by good UX</p>
            </div>
        </div>

        <div class="project code design">
            <a id="brc-site-cover" class="project" href="portfolio/brc_website">
                <img src="{% static "images/brc_site_cover.svg" %}" alt="Basic Rock Class Website: A website for managing course content.">
            </a>

            <div>
                <h3>Basic Rock Class Website</h3>
                <p>A website for managing course content</p>
            </div>
        </div>

        <div class="project code">
            <a id="party-mode-cover" class="project" href="portfolio/party_mode">
                <img src="{% static "images/party_mode_cover.svg" %}" alt="Party Mode: An IOT device that gets the party started.">
            </a>

            <div>
                <h3>Party Mode!</h3>
                <p>An IOT device that gets the party started</p>
            </div>
        </div>

        <div class="project design engineering">
            <a id="tetracraft-cover" class="project" href="portfolio/tetracraft">
                <img src="{% static "images/tetracraft_cover.svg" %}" alt="Tetracraft: a 3D Printed Agricultural Imaging Aircraft">
            </a>

            <div>
                <h3>Tetracraft: a 3D Printed Agricultural Imaging Aircraft</h3>
                <p>The world’s largest 3D printed aircraft!</p>
            </div>
        </div>

    </div>

{% endblock content %}
