{% extends "jean_site/base_sub_page.html" %}

{%  block title %}Jean Ruggiero - Portfolio{% endblock %}

{% block header_large %}portfolio{% endblock %}

{% block header_small %}selected software, engineering, and design projects{% endblock %}

{% block content %}
{% load static %}

<a id="tetracraft-cover" class="project" href="portfolio/tetracraft">
    <img src="{% static "images/tetracraft_cover.svg" %}"
        alt="Tetracraft: a 3D Printed Agricultural Imaging Aircraft (The world’s largest 3D printed aircraft!)">
</a>

<a id="personal-site-cover" class="project" href="portfolio/personal_site">
    <img src="{% static "images/personal_site_cover.svg" %}" alt="Personal
    Site Redesign: Powered by good UX">
</a>



{% endblock content %}
