{% extends "jean_site/base_sub_page.html" %}

{%  block title %}Jean Ruggiero - Portfolio{% endblock %}

{% block header_large %}portfolio{% endblock %}

{% block header_small %}selected software, engineering, and design projects{% endblock %}

{% block content %}
{% load static %}

<a id="tetracraft-cover" class="project c4-9" href="portfolio/tetracraft">
    <img src="{% static "images/tetracraft_cover.svg" %}"
        alt="Tetracraft: a 3D Printed Agricultural Imaging Aircraft (The world’s largest 3D printed aircraft!)">
</a>

<a id="personal-site-cover" class="project c9-12"
   href="portfolio/personal_site">
    <img src="{% static "images/personal_site_cover.svg" %}" alt="Personal Site Redesign: Powered by good UX">
</a>

<a id="lighthouse-logo" class="project c4-7" href="portfolio/lighthouse">
    <img src="{% static "images/lighthouse_cover.svg" %}" alt="Lighthouse project logo.">
</a>

<a id="andrew-website-cover" class="project c7-12" href="portfolio/andrew_fabian_website">
    <img src="{% static "images/andrew_website_cover.svg" %}" alt="Andrew Fabian Personal Site: Built with React and material-ui.">
</a>


{% endblock content %}
