<!DOCTYPE html>
<html>
    <head>
        <title>Jean Ruggiero: Resume</title>
    </head>
    <body>
        <h1>Resume</h1>
        <h2>Education</h2>
        <div class="education">
            <h3 class="degree">M.S. Computer Science</h3>
            <h3 class="school">Northeastern University</h3>
            <h4 class="grad-date">2021</h4>
        </div>
        <div class="education">
            <h3 class="degree">Certificate in Python Programming</h3>
            <h3 class="school">University of Washington</h3>
            <h4 class="grad-date">2019</h4>
        </div>

        <div class="education">
            <h3 class="degree">B.S. Aeronautical & Astronautical Engineering</h3>
            <h3 class="school">Purdue University</h3>
            <h4 class="grad-date">2014</h4>
            <h4 class="gpa">GPA: 3.76/4.0</h4>
            <p class="school-description">My senior design team designed, fabricated, and tested the world's largest 3D printed aircraft. We were awarded first place in the <a href="https://engineering.purdue.edu/AAE/news/2014/20141208SpotlightAAETeamWinsBestOverallinIAM3DChallenge">2014 ASME IAM3D Challenge</a>.</p>
        </div>

        <h2>Professional Experience</h2>
        <div class="job">
            <h3 class="title">Product Manager</h3>
            <h3 class="company">Boeing</h3>
            <p class="job-description">As a product manager working on internal software tools, I paired with developers to implement flight test calculations in the form of Python scripts. I performed user research to identify and prioritize web application usability issues and patricipated in UI prototyping.</p>
            <h4 class="location">Seattle, WA</h4>
            <h4 class="date">Oct 2018 - Aug 2019</h4>
        </div>

        <div class="job">
            <h3 class="title">Flight Test Engineer</h3>
            <h3 class="company">Boeing</h3>
            <p class="job-description">During my time in flight test, I got to plan and fly on flight tests including negative-G testing and aerial refueling missions. I developed MATLAB applications for real-time data monitoring during tests and analyzed test data to develop insights and formulate recommendations for internal customers. I was also involved in mentoring new employees and made regular contributions to internal technical publications.</p>
            <h4 class="location">Seattle, WA</h4>
            <h4 class="date">Jun 2014 - Oct 2018</h4>
        </div>

        <div class="job">
            <h3 class="title">Engineering Co-Op</h3>
            <h3 class="company">Rolls-Royce</h3>
            <p class="job-description">I worked at Rolls-Royce for three semesters as an undergraduate. I worked in Future Programmes developing peformance models for new and novel gas turbine engine cycles, spent time as a manufacturing engineer on the F-35 LiftFan, and performed engine cooling optimizations in Fluid Systems.</p>
            <h4 class="location">Indianapolis, IN</h4>
            <h4 class="date">2012 - 2013</h4>
        </div>

        <h2>Volunteer Experience</h2>
        <div class="job">
            <h3 class="title">Head Instructor, Basic Rock Climbing Class</h3>
            <h3 class="company">Boeing Employees Alpine Society (BOEALPS)		</h3>
            <p class="job-description">Outside of work, I volunteer as a climbing instructor. As Head Instructor, I worked closely with students and instructors to improve their climbing and safety skills. I executed a promotional campaign that increased the number of applicants by 50% over the previous two years. This past year, I automated processing of student application data using Python and Jupyter Notebooks to generate summary reports for admissions committee members.</p>
            <h4 class="location">Seattle, WA</h4>
            <h4 class="date">2017-2019</h4>
        </div>


        <h2>Technical Skills</h2>
        <h2>Awards & Honors</h2>

        <div class="award">
            <p>John Cashman Flight Test Safety Award 2015: The Cashman Award recognizes one individual or group per year that has made an enduring contribution to the advancement of flight test safety</p>
        </div>

        <div class="award">
            <p>Purdue University Trustees Scholarship 2010-2014: The Trustees Scholarship is awarded to individuals who demonstrate exceptional academic achievement, leadership, and service in their school and community</p>
        </div>

        <div class="award">
            <p><a href="https://engineering.purdue.edu/AAE/news/2014/20141208SpotlightAAETeamWinsBestOverallinIAM3DChallenge">ASME IAM3D Challenge</a> 2014, First Place</p>
        </div>


    </body>
</html>