{% extends "jean_site/base_sub_page.html" %}

{%  block title %}Jean Ruggiero - Resume{% endblock %}

{% block header_large %}resume{% endblock %}

{% block header_small %}computer science masters student, data science intern{% endblock %}

{% block content %}
    {% load static %}
    <h3>Education</h3>

    <h4 class="resume job-title">M.S. Computer Science</h4>
    <div class="resume-item">
        <h4 class="resume company">Northeastern University</h4>
        <p class="resume">Network security, machine learning, operating systems, algorithms I & II, computer systems, object-oriented design,
            discrete math</p>
        <br>
        <p><b>Thesis</b>: Applications of convolutional neural networks for object detection and classification in ground-penetrating radar images</p>

        <p class="grad-date">2021</p>
        <p class="gpa">GPA: 4.0/4.0</p>
    </div>


    <h4 class="resume job-title">Certificate in Python Programming</h4>
    <div class="resume-item">
        <h4 class="resume company">University of Washington</h4>
        <p class="resume">Python, web development, algorithms, data structures, statistics</p>
        <p class="grad-date">2019</p>
    </div>


    <h4 class="resume job-title">B.S. Aeronautical & Astronautical Engineering</h4>
    <div class="resume-item">
        <h4 class="resume company">Purdue University</h4>
        <p class="resume">Jet propulsion, fluid dynamics, flight test</p>
        <p class="grad-date">2014</p>
        <p class="gpa">GPA: 3.8/4.0</p>
    </div>

    <h3>Professional Experience</h3>

    <h4 class="resume job-title">Part-Time Data Scientist</h4>
    <div class="resume-item">
        <h4 class="resume company">Fortive</h4>
        <p class="resume">I'm currently working on a customer churn model for an organization that creates and sells SaaS solutions. On this
            project, I led the creation of a python package and corresponding CI/CD pipeline for automated deployments to the team's internal
            production PyPi repository. In addition, I'm assisting with the team's adoption of agile processes and tools, such as sprints, Jira,
            test-driven development, and continuous deployment. I also contribute bug fixes, feature requests, and infrastructure updates to several
            production machine learning applications.</p>
        <p class="location">Pittsburgh, PA</p>
        <p class="date">Sept 2020 &ndash; Present</p>
    </div>

    <h4 class="resume job-title">Data Science Intern</h4>
    <div class="resume-item">
        <h4 class="resume company">Fortive</h4>
        <p class="resume">I spent this past summer as a data science intern at "The Fort," Fortive's AI & Data Analytics hub. I developed a machine
            learning based revenue forecast for one of Fortive's operating companies using timeseries regression techniques. I automated
            the existing revenue forecasting process and achieved a 40% increase in prediction accuracy. I deployed the updated model to AWS and
            built an MVP dashboard to deliver value to the user. In addition, I organized and led a workshop on user experience design, lean
            prototyping, and usability testing.</p>
        <p class="location">Pittsburgh, PA</p>
        <p class="date">June 2020 &ndash; Sept 2020</p>
    </div>

    <h4 class="resume job-title">Teaching Assistant</h4>
    <div class="resume-item">
        <h4 class="resume company">Northeastern University</h4>
        <p class="resume">
            As a teaching assistant for discrete math (CS5002), I coached students during office hours and provided feedback on assignments and
            exams. I led online review sessions to help students transition to virtual classes during the COVID-19 pandemic. Topics included
            recursive algorithms, recurrences, and mathematical induction. I also generated and reviewed practice problem sets and assignment
            solutions.
        </p>
        <p class="location">Boston, MA</p>
        <p class="date">Jan 2020 &ndash; May 2020</p>
    </div>

    <h4 class="resume job-title">Product Manager</h4>
    <div class="resume-item">
        <h4 class="resume company">Boeing</h4>
        <p class="resume">As a product manager working on internal software
            tools, I paired with developers to implement flight test
            calculations in the form of Python scripts. I performed user
            research to identify and prioritize web application usability
            issues and participated in UI prototyping.</p>
        <p class="location">Seattle, WA</p>
        <p class="date">Oct 2018 &ndash; Aug 2019</p>
    </div>

    <h4 class="resume job-title">Flight Test Engineer</h4>
    <div class="resume-item">
        <h4 class="resume company">Boeing</h4>
        <p class="resume">During my time in flight test, I planned and
            executed flight tests including negative-G testing and aerial
            refueling missions. I developed MATLAB applications for real-time
            data monitoring during tests and analyzed test data to develop
            insights and formulate recommendations for internal customers. I
            mentored new employees and made regular contributions to internal
            technical publications.</p>
        <p class="location">Seattle, WA</p>
        <p class="date">June 2014 &ndash; Oct 2018</p>
    </div>

    <h4 class="resume job-title">Engineering Co&#8209;Op</h4>
    <div class="resume-item">
        <h4 class="resume company">Rolls-Royce</h4>
        <p class="resume">I worked at Rolls-Royce for three semesters as an
            undergraduate. As part of Fluid Systems, I generated insights for
            optimal sizing of engine cooling pathways through a Monte Carlo
            Analysis. As a manufacturing engineer on the F-35 LiftFan, I
            performed statistical analyses of torque tool data to measure
            manufacturing defect rates. In Future Programmes, I developed
            performance models for new and novel gas turbine engine cycles
            using C++.</p>
        <p class="location">Indianapolis, IN</p>
        <p class="date">2012 &ndash; 2013</p>
    </div>

    <h3>Skills</h3>

    <div class="resume skill c3-6">
        <h4 class="resume">Programming Languages</h4>
        <p class="skill-5">Python</p>
        <p class="skill-4">C</p>
        <p class="skill-2">C++</p>
        <p class="skill-4">Java</p>
        <p class="skill-4">JavaScript</p>
        <p class="skill-2">Swift</p>
        <p class="skill-5">MATLAB</p>

        <h4 class="resume">Data Science</h4>
        <p class="skill-4">Time Series Forecasting</p>
        <p class="skill-4">pandas/numpy</p>
        <p class="skill-3">scikit-learn</p>
        <p class="skill-3">Deep Learning</p>
        <p class="skill-4">Bayesian Models</p>
        <p class="skill-4">Linear Models</p>
        <p class="skill-4">Tree-Based Models</p>
    </div>

    <div class="resume skill c6-9">
        <h4 class="resume">Software Development</h4>
        <p class="skill-4">Linux</p>
        <p class="skill-4">TDD</p>
        <p class="skill-4">CI/CD</p>
        <p class="skill-4">Git</p>
        <p class="skill-2">Docker</p>
        <p class="skill-3">AWS</p>


        <h4 class="resume">Web Development</h4>
        <p class="skill-3">Django</p>
        <p class="skill-4">React</p>
        <p class="skill-5">HTML/CSS</p>
        <p class="skill-4">SQL/NoSQL</p>
        <p class="skill-2">InfluxDB</p>
        <p class="skill-4">Heroku</p>
        <p class="skill-3">AWS EC2</p>
        <p class="skill-3">AWS CloudFront</p>

    </div>

    <div class="resume skill c9-12">
        <h4 class="resume">Product & Design</h4>
        <p class="skill-4">Jira</p>
        <p class="skill-4">Sketch</p>
        <p class="skill-4">InVision</p>
        <p class="skill-5">LaTeX</p>
    </div>



    <h3>Projects</h3>

    <h4 class="resume job-title">Lighthouse</h4>
    <div class="resume-item">
        <h4 class="resume company">An Open Source C Unit Test Framework</h4>
        <p class="resume">I'm the creator of Lighthouse, a (very) lightweight unit testing framework for C. The project started when I
            decided to build some testing infrastructure to make my life easier while doing my algorithms homework. I realized it could be useful
            to others, so I created a project based on it and shared it with my classmates. After improving on the initial version, I released it
            as an open source project. <a href="portfolio/lighthouse">Learn more</a>.
        </p>
    </div>

    <h4 class="resume job-title">Ocularize</h4>
    <div class="resume-item">
        <h4 class="resume company">Online Intake Forms to Pandemic-Proof Family-Owned Medical Practice</h4>
        <p class="resume">At the start of the COVID-19 pandemic, I was looking for a way to help out in some way. My partner's father co-owns a
            small optometry practice in San Jose, CA and was looking for a way to move the intake process (currently consisting of paper forms) online
            in order to meet guidelines and enhance the safety of patients and staff. I offered to help out and ended up creating
            <a href="https://www.ocularize.com/">Ocularize</a>, a secure portal through which patients can submit their intake forms. I built an
            accompanying staff website which allows staff members to log on and view the forms. During this challenging time, wins for small
            businesses are something we should all celebrate! <a href="portfolio/ocularize">Learn more</a>.
        </p>
    </div>


    <h3>Volunteer Experience</h3>

    <h4 class="resume job-title">Head Instructor, Basic&nbsp;Rock&nbsp;Class</h4>
    <div class="resume-item">
        <h4 class="resume company">Boeing Employees Alpine Society</h4>
        <p class="resume">Outside of work, I volunteer as a climbing instructor.
            As BRC Head Instructor, I worked closely with students and
            instructors to improve their climbing and safety skills. I
            executed a promotional campaign that increased the number of
            applicants by 50% over the previous two years. I also automated
            processing of student application data using Python and Jupyter
            Notebook to generate interactive summary reports for admissions
            committee members.</p>
        <p class="date">Sept 2017 &ndash; Sept 2019</p>
    </div>

    <h3>Awards & Honors</h3>

    <h4 class="resume job-title">John Cashman Award</h4>
    <div class="resume-item">
        <p class="resume">
            Awarded to the KC-46 fuels test team for safely troubleshooting anomalies during testing. The Cashman Award recognizes one individual or
            group at Boeing per year that has made an enduring contribution to the advancement of flight test safety.
        </p>
        <p class="date">2015</p>
    </div>

    <h4 class="resume job-title">ASME IAM3D Challenge Best&nbsp;Overall</h4>
    <div class="resume-item">
        <p class="resume">The <a href="https://www.asme
        .org/topics-resources/society-news/asme-news/students-vie-top-prizes-iam3d-old-guard-student">
            IAM3D Challenge</a> recognizes undergraduate students from around
            the world who re-engineer existing products or create new designs
            that minimize energy consumption or improve energy efficiency.</p>
        <p class="date">2014</p>
    </div>

    <h4 class="resume job-title">Purdue University Trustees Scholarship</h4>
    <div class="resume-item">
        <p class="award">The Trustees Scholarship is awarded to individuals who
            demonstrate exceptional academic achievement, leadership, and
            service in their school and community.</p>
        <p class="date">2010 &ndash; 2014</p>
    </div>

    <div id="download-bar" class="c2-12">
        <a id="download-button" class="button" href=
                "{% static 'jean_ruggiero_resume.pdf' %}"
        download><img
                src="{% static 'icons/download_icon.svg' %}" alt="Download
                icon">DOWNLOAD</a>
    </div>

{%  endblock content %}