@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #333333;
    margin: 0;
}

/**********************STYLESHEET****************************/
/* HEADERS */
h1, h2 {
    font-size: 48px;
    font-weight: 500;
    color: #5D397B;
    display: inline;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: #5D397B;
    margin: 40px 0 10px 0;
    grid-column: 2/12;
}

/*h3:first-of-type {*/
/*    margin-top: 0;*/
/*}*/

h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 5px 0;
    grid-column: 2/12;
}

h5.header-slash {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -12px;
    padding-right: 13px;
    display: inline;
}

/* PARAGRAPHS */
p {
    line-height: 22px;
    margin: 0 0 15px 0;
    grid-column: 2/12;
}

p.tagline {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 0;
}

footer p {
    font-size: 14px;
}

p.caption {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    width: inherit;
}

p.place-date{
    font-style: italic;
}

/* CTAS */

nav a {
    font-size: 21px;
    font-weight: 500;
    color: #333333;
    letter-spacing: 0.7px;
    text-decoration: none;
    padding: 0 3px 0 3px;
}

nav a:hover {
    font-weight: 700;
}

nav li.nav-current a {
    color: #5D397B;
    font-weight: 700;
    border-bottom: 4px solid #5D397B;
}

p a {
    font-weight: 500;
    color: #305394;
    text-decoration: none;
}

p a:hover {
    color: #2C436E;
}

a.button {
    background: #305394;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0.7px;
    font-weight: 500;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
}

.button-div {
    display: inline-block;
    padding: 0 5vw 0 5vw;
    margin-bottom: 40px;
}

.button-div img {
    vertical-align: baseline;
    padding-left: 8px;
}


a.button:hover {
    background: #2C436E;
}

a.button:active {
    background: #2C436E;
    box-shadow: none;
}

i {
    vertical-align: bottom;
    padding-left: 8px;
}

/***********************GRIDS*******************************/

#page-container {
    position: relative;
    min-height: 100vh;
}

div.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18,auto);
    grid-column-gap: 2%;
    padding-bottom: 182px;
}

div.grid-container>div {
    display: inline-block;
    margin-bottom: 15px;
}

div>img {
    object-fit: cover;
    width: 100%;

}

.c3-7 {
    grid-column: 3/7;
}

.c7-11 {
    grid-column: 7/11;
}

.c2-5 {
    grid-column: 2/5;
}

.c5-11 {
    grid-column: 5/11;
}

.c5-12 {
    grid-column: 5/12;
}

.c2-6 {
    grid-column: 2/6;
}

.c6-12 {
    grid-column: 6/12;
}

.c2-7 {
    grid-column: 2/7;
}

.c7-12 {
    grid-column: 7/12;
}

.c2-8 {
    grid-column: 2/8;
}

.c8-12 {
    grid-column: 8/12;
}

.c2-9 {
    grid-column: 2/9;
}

.c9-12 {
    grid-column: 9/12;
}

.c2-12 {
    grid-column: 2/12;
}

.c4-9 {
    grid-column: 4/9;
}

/**************HEADER***********************/
header {
    grid-column: 2/12;
    margin: 15px 0 30px 0;
}

div.header-large {
    height: 57px;
    margin-right: 2px;
    display: inline;
}

div.header-small {
    display: inline;
    vertical-align: baseline;
}

/****************************NAV BAR***********************/

#show-menu {
    display: none;
    padding: 25px 0 0 25px;
}

nav ul {
    list-style: none;
    text-align: right;
    padding-top: 15px;
    margin: 0;
}

nav li {
    display: inline;
    text-align: right;
    padding: 7px;
}

nav {
    margin-right: 30px;
}

/************************FOOTER********************/
footer {
    text-align: center;
    width: 100%;
    height: 93px;
    position: absolute;
    bottom: 0;
    margin: 130px 0 50px 0;
}

footer div#contact-info {
    margin-bottom: 15px;
}

footer div#contact-info a {
    margin: 0 25px 0 25px;
}

a#linkedin, a#github, a#email {
    text-decoration: none;
    display: inline-block;
}

a#linkedin, a#linkedin img {
    height: 38.4px;
    width: 39.5px;
}

a#github, a#github img {
    height: 38.4px;
    width: 39.35px;
}

a#email, a#email img {
    height: 38.4px;
    width: 38.4px;
}

/******************************HOME***************************/
div.about {
    margin-top: 37px;
}

div#head-shot {
    text-align: center;
}

div#head-shot img {
    max-width: 259px;
}
/***************************RESUME*************************/
.resume-header {
    grid-column: 2/12;
}

div.resume-item {
    grid-column: 5/12;
    margin-bottom: 17px;
}

h4.resume {
    margin: 0;
}

.resume.job-title {
    text-align: right;
    grid-column: 2/5;
}

.grad-date, .location, .date, .gpa {
    display: inline;
    margin-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}

.grad-date::before {
    content: url("/static/icons/grad_icon.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

.gpa::before {
    content: url("/static/icons/gpa_icon.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

.location::before {
    content: url("/static/icons/location_icon.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

.location, .grad-date {
    display: inline-block;
    width: 210px;
}

.date {
    display: inline-block;
}

.date::before {
    content: url("/static/icons/calendar_icon.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

p.resume, p.award {
    margin: 0;
}

.skill-2::before {
    content: url("/static/icons/2star.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

.skill-3::before {
    content: url("/static/icons/3star.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

.skill-4::before {
    content: url("/static/icons/4star.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

.skill-5::before {
    content: url("/static/icons/5star.svg");
    padding-right: 5px;
    vertical-align: inherit;
}

.skill-2, .skill-3, .skill-4, .skill-5 {
    margin: 7px 0 7px 0;
    vertical-align: middle;
}



#download-bar {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    display: block;
}

#download-button img {
    vertical-align: middle;
    padding-right: 7px;
}

/**************************PORTFOLIO**************************/
a.project img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
}

a.project:hover img {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
}

a.project:active img {
    box-shadow: none;
}

a.project {
    margin: 5px;
}

/*********************PROJECT PAGES**************************/

div#meet-team div {
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

div#meet-team img {
    max-height: 100px;
    object-fit: contain;
    display: inline-block;
}

div#meet-team p.caption {
    max-width: 100px;
    margin: auto;
}

/**********************CONTACT****************************/

div#contact-text p {
    display: inline;
}

div#contact-text a {
    vertical-align: -7px;
}

/********************MOBILE STYLES***********************/
@media only screen and (max-width: 550px) {

    body {
        font-size: 12px;
    }

    h1, h2 {
        font-size: 24px;
    }

    h5.header-slash {
        font-size: 24px;
        letter-spacing: -5px;
        padding-right: 4px;
    }

    h3 {
        font-size: 18px;
        margin-top: 20px;
    }

    h4 {
        font-size: 14px;
    }

    p.tagline, footer p{
        font-size: 10px;
    }

    p {
        line-height: 14px;
    }

    p.caption {
        font-size: 11px;
        line-height: 13px;
    }

    header {
        margin-bottom: 15px;
    }

    nav a {
        font-size: 18px;
    }

    a.button {
        font-size: 16px;
    }

    .resume.job-title {
        text-align: left;
        grid-column: 2/12;
    }

    div.resume-item {
        grid-column: 2/12;
    }

    .location, .grad-date {
        width: 102px;
    }

    .grad-date::before {
        content: url("/static/icons/grad_date_mobile.svg");
    }

    .gpa::before {
        content: url("/static/icons/gpa_mobile.svg")
    }

    .date::before {
        content: url("/static/icons/date_mobile.svg");
    }

    .location::before {
        content: url("/static/icons/location_mobile.svg");
    }

    .skill-2::before {
        content: url("/static/icons/2-star_mobile.svg");
    }

    .skill-3::before {
        content: url("/static/icons/3-star_mobile.svg");
    }

    .skill-4::before {
        content: url("/static/icons/4-star_mobile.svg");
    }

    .skill-5::before {
        content: url("/static/icons/5-star_mobile.svg");
    }

    .c3-7, .c7-11, .c2-5, .c5-11, .c5-12, .c2-6, .c6-12, .c2-7,
    .c7-12, .c2-8, .c8-12, .c2-9, .c9-12, .c2-12, .c4-9 {
        grid-column: 2/12;
    }

}

@media only screen and (max-width: 630px) {
    /*nav {*/
    /*    grid-column: 1/13;*/
    /*}*/
    nav ul {
        display: none;
        background-color: #333333;
    }

    #show-menu {
        display: block;
    }

    nav ul {
        padding: 0;
        border-bottom: 0.5px solid #333333;
    }

    nav li {
        display: block;
        text-align: left;
        border: 0.5px solid #333333;
        border-bottom: none;
        padding: 20px;
    }

    nav a, nav li.nav-current a {
        color: #FFFFFF;
    }

    nav li.nav-current {
        background-color: #5D397B;
    }

    nav li.nav-current a {
        border: none;
    }

    header {
        margin-top: 5px;
    }
}


